* {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  background-color: #f0f0f0;
  min-height: 100vh;
}

.area-site {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #fff;
  width: 400px;
  max-width: 90%;
  padding: 16px;
  border-radius: 8px;
  margin: 16px auto;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.titulo-principal {
  font-size: 1.7em;
  text-align: center;
  margin-bottom: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.campo-obrigatorio {
  display: inline-block;
  color: #ff0000;
}

.campo {
  font-size: 0.8em;
  padding: 14px 12px;
  border: 1px solid #aaa;
  border-radius: 8px;
}

.campo:focus {
  border-color: #0077ff;
  outline: none;
  box-shadow: none;
}

.botao {
  font-size: 0.8em;
  color: #fff;
  padding: 14px 16px;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.botao-enviar {
  align-self: flex-start;
  background-color: #0077ff;
}

.botao-enviar:hover {
  color: #0077ff;
  background-color: transparent;
  border-color: #0077ff;
}

.conteudo-principal.escondido {
  display: none;
}

.lista-tarefas {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
}

.item-lista-tarefas {
  background-color: #ddd;
  padding: 16px;
  border-radius: 8px;
}

.concluida {
  background-color: #90ee90;
}

.concluida .txt-tarefa {
  text-decoration: line-through;
}

.txt-tarefa {
  font-size: 1.1em;
  margin-bottom: 16px;
}

.area-acoes-tarefa,
.area-acoes-modal-editar {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.botao-alternar-estado {
  background-color: #008000;
  opacity: 0.9;
}

.botao-alternar-estado:hover,
.botao-editar:hover,
.botao-deletar:hover {
  opacity: 1;
}

.botao-editar {
  background-color: #0077ff;
  opacity: 0.9;
}

.botao-deletar {
  background-color: #ff0000;
  opacity: 0.9;
}

.fundo-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
}

.fundo-modal.escondido {
  opacity: 0;
  pointer-events: none;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 400px;
  max-width: 90%;
  padding: 16px;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}

.modal.escondido {
  top: 0;
  opacity: 0;
  pointer-events: none;
}

.titulo-modal {
  font-size: 1.3em;
  text-align: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #aaa;
}

.botao-cancelar {
  background-color: #ff0000;
}

.botao-cancelar:hover,
.botao-fechar-modal-msg:hover {
  color: #ff0000;
  background-color: transparent;
  border-color: #ff0000;
}

.txt-modal-msg {
  min-height: 40px;
}

.botao-fechar-modal-msg {
  align-self: flex-end;
  background-color: #ff0000;
}

.rodape {
  font-style: italic;
  text-align: center;
}
